In [1]:
# Imports

from injector import Injector
import logging.config
import os
import sys

module_path = os.path.abspath(os.path.join('..'))

if module_path not in sys.path:
    sys.path.append(module_path)

from estimize.di.default_module import DefaultModule
    
injector = Injector([DefaultModule])

# Asset Info Service

In [2]:
from estimize.services import AssetInfoService

asset_info_service = injector.get(AssetInfoService)

aidf = asset_info_service.get_asset_info()
print('Num Assets: ', len(aidf))
display(aidf.head(5))

Num Assets:  2195

,cusip,name,sector,industry
asset,,,,
Equity(2731 [A]),00846U101,Agilent Technologies Inc.,Health Care,Life Sciences Tools & Services
Equity(2698 [AA]),013872106,Alcoa Corp.,Materials,Metals & Mining
Equity(111 [AAL]),02376R102,American Airlines Group Inc.,Industrials,Airlines
Equity(8 [AAN]),002535300,"Aaron's, Inc.",Consumer Discretionary,Specialty Retail
Equity(161 [AAOI]),03823U102,"Applied Optoelectronics, Inc.",Information Technology,Communications Equipment

# Asset Service

In [3]:
from estimize.services import AssetService

asset_service = injector.get(AssetService)

## get_asset

In [4]:
ticker = 'AAPL'
asset = asset_service.get_asset(ticker)
display(asset)

Equity(2697 [AAPL])

## get_assets

In [5]:
tickers = ['AAPL', 'MSFT', 'AMZN']
assets = asset_service.get_assets(tickers)
display(assets)

[Equity(2697 [AAPL]), Equity(3007 [MSFT]), Equity(2730 [AMZN])]

## get_moving_average

In [6]:
start_date = '2010-09-29'
end_date = '2010-10-01'
assets = asset_service.get_assets(tickers)
madf = asset_service.get_moving_average(start_date, end_date, assets)
display(madf.head(5))

                                moving_average
as_of_date asset
2010-09-28 Equity(2697 [AAPL])      258.957619
           Equity(2730 [AMZN])      129.242365
           Equity(3007 [MSFT])       24.701769
2010-09-29 Equity(2697 [AAPL])      259.526508
           Equity(2730 [AMZN])      130.031730

## get_returns

In [7]:
rdf = asset_service.get_returns(start_date, end_date, assets)
display(rdf.head(5))

                                close_return  open_return
as_of_date asset
2010-09-28 Equity(2697 [AAPL])     -0.014782    -0.015560
           Equity(2730 [AMZN])      0.002071    -0.005068
           Equity(3007 [MSFT])     -0.002224    -0.006855
2010-09-29 Equity(2697 [AAPL])      0.001778     0.006162
           Equity(2730 [AMZN])     -0.004446     0.006162

## get_universe

In [8]:
udf = asset_service.get_universe(start_date, end_date, assets)
display(udf.head(5))

                                latest_close
as_of_date asset
2010-09-28 Equity(2697 [AAPL])       286.860
           Equity(2730 [AMZN])       159.700
           Equity(3007 [MSFT])        24.677
2010-09-29 Equity(2697 [AAPL])       287.370
           Equity(2730 [AMZN])       158.990

# Estimize Consensus Service

In [9]:
from estimize.services import EstimizeConsensusService

estimize_consensus_service = injector.get(EstimizeConsensusService)

## get_consensuses

In [10]:
start_date = '2013-01-01'
end_date = '2013-02-01'
asset = asset_service.get_asset('AAPL')
ecdf = estimize_consensus_service.get_consensuses(start_date, end_date, [asset])
print('Num Rows: ', len(ecdf))
display(ecdf.head(5))

Num Rows:  92

                                fiscal_year  fiscal_quarter reports_at_date  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])         2013               1      2013-01-23
           Equity(2697 [AAPL])         2013               2      2013-04-23
2013-01-03 Equity(2697 [AAPL])         2013               2      2013-04-23
           Equity(2697 [AAPL])         2013               1      2013-01-23
2013-01-04 Equity(2697 [AAPL])         2013               2      2013-04-23

                                  bmo  estimize.eps.weighted  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])  False               2.063109
           Equity(2697 [AAPL])  False               2.001222
2013-01-03 Equity(2697 [AAPL])  False               2.001222
           Equity(2697 [AAPL])  False               2.063661
2013-01-04 Equity(2697 [AAPL])  False               2.001222

                                estimize.eps.mean  estimize.eps.high  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])           2.087207               2.71
           Equity(2697 [AAPL])           1.964000               2.14
2013-01-03 Equity(2697 [AAPL])           1.964000               2.14
           Equity(2697 [AAPL])           2.085221               2.71
2013-01-04 Equity(2697 [AAPL])           1.964000               2.14

                                estimize.eps.low  estimize.eps.sd  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])              1.57         0.239000
           Equity(2697 [AAPL])              1.78         0.121425
2013-01-03 Equity(2697 [AAPL])              1.78         0.121425
           Equity(2697 [AAPL])              1.57         0.237673
2013-01-04 Equity(2697 [AAPL])              1.78         0.121425

                                estimize.eps.count  estimize.revenue.weighted  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])                 111               56720.560601
           Equity(2697 [AAPL])                   5               52757.098990
2013-01-03 Equity(2697 [AAPL])                   5               52757.098990
           Equity(2697 [AAPL])                 113               56555.481996
2013-01-04 Equity(2697 [AAPL])                   5               52757.098990

                                estimize.revenue.mean  estimize.revenue.high  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])           55386.342342                65000.0
           Equity(2697 [AAPL])           51785.804000                53772.0
2013-01-03 Equity(2697 [AAPL])           51785.804000                53772.0
           Equity(2697 [AAPL])           55372.955752                65000.0
2013-01-04 Equity(2697 [AAPL])           51785.804000                53772.0

                                estimize.revenue.low  estimize.revenue.sd  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])               45270.0          3726.603155
           Equity(2697 [AAPL])               50010.0          1220.571277
2013-01-03 Equity(2697 [AAPL])               50010.0          1220.571277
           Equity(2697 [AAPL])               45270.0          3695.308251
2013-01-04 Equity(2697 [AAPL])               50010.0          1220.571277

                                estimize.revenue.count  wallstreet.eps  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])                     111             NaN
           Equity(2697 [AAPL])                       5             NaN
2013-01-03 Equity(2697 [AAPL])                       5             NaN
           Equity(2697 [AAPL])                     113             NaN
2013-01-04 Equity(2697 [AAPL])                       5             NaN

                                wallstreet.revenue  actual.eps  actual.revenue
as_of_date asset
2013-01-02 Equity(2697 [AAPL])                 NaN        1.97         54512.0
           Equity(2697 [AAPL])                 NaN        1.44         43603.0
2013-01-03 Equity(2697 [AAPL])                 NaN        1.44         43603.0
           Equity(2697 [AAPL])                 NaN        1.97         54512.0
2013-01-04 Equity(2697 [AAPL])                 NaN        1.44         43603.0

## get_earnings_yields

In [11]:
eydf = estimize_consensus_service.get_earnings_yields(start_date, end_date, [asset])
print('Num Rows: ', len(eydf))
display(eydf.head(5))

Num Rows:  62

                                fiscal_year  fiscal_quarter reports_at_date  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])         2013               1      2013-01-23
           Equity(2697 [AAPL])         2013               2      2013-04-23
2013-01-03 Equity(2697 [AAPL])         2013               1      2013-01-23
           Equity(2697 [AAPL])         2013               2      2013-04-23
2013-01-06 Equity(2697 [AAPL])         2013               1      2013-01-23

                                  bmo  estimize.eps.weighted.yield  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])  False                     0.011096
           Equity(2697 [AAPL])  False                     0.011353
2013-01-03 Equity(2697 [AAPL])  False                     0.011132
           Equity(2697 [AAPL])  False                     0.011389
2013-01-06 Equity(2697 [AAPL])  False                     0.011168

                                estimize.eps.mean.yield  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])                 0.011138
           Equity(2697 [AAPL])                 0.011288
2013-01-03 Equity(2697 [AAPL])                 0.011169
           Equity(2697 [AAPL])                 0.011324
2013-01-06 Equity(2697 [AAPL])                 0.011210

                                estimize.eps.high.yield  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])                 0.012218
           Equity(2697 [AAPL])                 0.011594
2013-01-03 Equity(2697 [AAPL])                 0.012257
           Equity(2697 [AAPL])                 0.011630
2013-01-06 Equity(2697 [AAPL])                 0.012302

                                estimize.eps.low.yield  estimize.eps.sd  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])                0.010240         0.239000
           Equity(2697 [AAPL])                0.010969         0.121425
2013-01-03 Equity(2697 [AAPL])                0.010272         0.237673
           Equity(2697 [AAPL])                0.011004         0.121425
2013-01-06 Equity(2697 [AAPL])                0.010310         0.230264

                                estimize.eps.count  wallstreet.eps.yield  \
as_of_date asset
2013-01-02 Equity(2697 [AAPL])                 111                   NaN
           Equity(2697 [AAPL])                   5                   NaN
2013-01-03 Equity(2697 [AAPL])                 113                   NaN
           Equity(2697 [AAPL])                   5                   NaN
2013-01-06 Equity(2697 [AAPL])                 123                   NaN

                                actual.eps.yield
as_of_date asset
2013-01-02 Equity(2697 [AAPL])          0.010934
           Equity(2697 [AAPL])          0.010379
2013-01-03 Equity(2697 [AAPL])          0.010969
           Equity(2697 [AAPL])          0.010412
2013-01-06 Equity(2697 [AAPL])          0.011009

# Residual Returns Service

In [12]:
from estimize.services import ResidualReturnsService

residual_returns_service = injector.get(ResidualReturnsService)

In [13]:
rrdf = residual_returns_service.get_market_neutral_residual_returns(start_date, end_date, [asset], on='open')
display(rrdf.head(5))

                                  return  residual_return
as_of_date asset
2013-01-02 Equity(2697 [AAPL]) -0.010726        -0.020015
2013-01-03 Equity(2697 [AAPL]) -0.019922        -0.020244
2013-01-06 Equity(2697 [AAPL]) -0.027870        -0.027061
2013-01-07 Equity(2697 [AAPL])  0.013812         0.014816
2013-01-08 Equity(2697 [AAPL]) -0.012679        -0.014592